<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <targets>
    <target name="colouredConsole" xsi:type="ColoredConsole" useDefaultRowHighlightingRules="false" layout="[${date:format=dd.MM.yyyy HH\:mm\:ss}] [${level}] ${message} ${exception:format=tostring}" >
      <highlight-row condition="level == LogLevel.Debug" foregroundColor="DarkGray" />
      <highlight-row condition="level == LogLevel.Info" foregroundColor="Gray" />
      <highlight-row condition="level == LogLevel.Warn" foregroundColor="Yellow" />
      <highlight-row condition="level == LogLevel.Error" foregroundColor="Red" />
      <highlight-row condition="level == LogLevel.Fatal" foregroundColor="Red" backgroundColor="White" />
    </target>

    <target name="file"
            xsi:type="File"
            fileName="${basedir}/logs/log.current.txt"
            encoding="utf-8"
            layout="[${date:format=dd.MM.yyyy HH\:mm\:ss}] [${level}] ${message} ${exception:format=tostring}"
            archiveFileName="${basedir}/logs/archives/log.${shortdate}.{#}.txt"
            archiveAboveSize="5242880"
            archiveEvery="Day"
            archiveNumbering = "Rolling"
            maxArchiveFiles="3" />
  </targets>

  <rules>
    <logger name="uhttpsharp.*" minlevel="Trace" maxLevel="Warn" final="true" />
    <logger name="StackExchange.NetGain.*" minlevel="Trace" maxLevel="Info" final="true" />
    <logger name="*" minlevel="Debug" writeTo="colouredConsole" />
    <logger name="*" minlevel="Debug" writeTo="file" />
  </rules>
</nlog>